* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: whitesmoke;
}

.scroll-to-top:hover {
  color: black !important;
}

.css-1dlu8to-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #163E7B;
  border-width: 2px;
}

#scannerimage {
  width: 600px
}

#future-goals {
  height: 312px
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 13.5px 14px !important;
}

@media only screen and (max-width: 600px) {
  #scannerimage {
    width: 300px
  }

  #future-goals {
    height: 100%
  }
}