* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: whitesmoke;
}

.scroll-to-top:hover {
  color: black !important;
}

.css-1dlu8to-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #163E7B;
  border-width: 2px;
}